<section class="bg-primary py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-bg-primary">
          <div class="col-12 col-xl-9">
            <img class="img-fluid rounded mb-4" loading="lazy" src="<%= asset_path('LOGO.png') %>" width="245" height="80" alt="Logo BioFarma">
            <hr class="border-primary-subtle mb-4">
            <h2 class="h1 mb-4">BioFarma</h2>
            <p class="lead mb-5">Sistema prático para farmácias: cadastre medicamentos, gerencie vendas e exporte relatórios em CSV</p>
            <div class="text-endx">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h2 class="h3">Registre-se</h2>
                  <h3 class="fs-6 fw-normal text-secondary m-0">Coloque seus dados:</h3>
                </div>
              </div>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field mb-3">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Email" %>
              </div>

              <div class="field mb-3">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
                <% end %><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Password" %>
              </div>

              <div class="field mb-3">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Confirm Password" %>
              </div>

              <div class="actions mb-3">
                <%= f.submit "Registre-se", class: "btn btn-primary btn-lg w-100" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

            <div class="row">
              <div class="col-12">
                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                  <p class="m-0 text-secondary text-center">Já tem uma conta? <a href="<%= new_session_path(resource_name) %>" class="link-primary text-decoration-none">Entrar</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
